
video#herovideo{
    width: 100%;
}

.bx-wrapper .social-icons a{
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: inherit;
    text-align: center;
    padding-top: 5px;
    transition: all ease 1s;
    background: #000;
    border-radius: 0px;
}

.bx-wrapper .social-icons a i{
    position: relative;
    bottom: 7px;
}

.vidContent{
    position: absolute;
    top: 230px;
    color: #f1f1f1;
    width: 50%;
    padding: 10px;
    text-align: left;
}

.vidContent h1{
    font-family: 'Oswald',sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.vidContent p{
    font-family: 'Roboto Condensed',sans-serif;
}

#vidBtn{
    font-family: 'Roboto Condensed',sans-serif;
    display: inline-block;
    font-size: 16px;
    padding: 15px 40px;
    border: none;
    background: white;
    color: #333;
    cursor: pointer;
    margin-top: 18px;
    border-radius: 50px;
    animation: shadow-pulse 2s infinite;
    text-transform: uppercase;
}

@keyframes shadow-pulse{
    0%{
        box-shadow: 0 0 0 0px rgba(0,0,0,0.2);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(0,0,0,0);
    }
}

#vidBtn{
    background: white;
    color: black;
    text-decoration: none;
}

ul.social-icons.list-inline{
    text-align: center;
    margin-top: 22px;
}

.list-inline>li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.bx-pager .bx-default-pager{
    margin-top: 50px !important;
}   

#about-us .carousel-indicators{
    position: static;
    padding-top: 30px;
}

#about-us .carousel-indicators li{
    background-color: black !important;
    color: black;
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.carousel-control-prev-icon{   
    background-image: url(..//images/left-arrow.svg);
    padding: 25px;
}

.carousel-control-next-icon{
    background-image: url(..//images/right-arrow.svg);
    padding: 25px;
}

#about-us .carousel-control-next,
#about-us .carousel-control-prev{
    width:auto;
}

#about-us .carousel-control-next{
    right: -35px;
}

#about-us .carousel-control-prev{
    left: -35px;
}

#about-us h3{
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #6c757d !important;
}

p.lead{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #f7cc4b !important;
}

h4.text-dark{
    font-family: 'Oswald',sans-serif;
    font-size: 21px;
}

p.text-secondary{
    font-family: 'Roboto Condensed',sans-serif;
    color: darkgray;
}

#contents{
    margin-top: -420px;
}

#work h3{
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #6c757d !important;
}

.row.no-gutter [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper{
    overflow: hidden;
}

.img-wrapper img{
    transition: transform .5s ease;
}

.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

img{
    width: 100%;
    height: auto;
}

/***** TEAM START ******/

#team{
    text-align: center;
    font-family: 'Roboto Condensed',sans-serif;
    color: #535353;
    padding-top: 50px;
    background-color: white;
}

#team h5{
    font-size: 1.2rem;
    font-weight: 599;
    margin-bottom: 1.5rem;
    color: #ff1737;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#team h2{
    font-size: 2.5rem;
    font-weight: 599;
    margin: 0 auto 1.5rem;
    color: #6c757d;
    line-height: 1.2;
    max-width: 650px;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#team p.desc{
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: 'Roboto Condensed',sans-serif;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover{
    text-decoration: none;
}

.designation{
     font-size: 17px;
}

.team-social li{
    display: inline-block;
}

.team-social li a{
    font-size: 14px;
    color: #18191d;
    height: 38px;
    width: 38px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 50%;
}

.team-img{
    position: relative;
}

.team-social.white-bg{
    background-color: white;
}

.team-coverflow{
    position: relative;
    overflow: hidden;
    padding: 20px;
    width:100%;
    max-width: 370px;
    margin-left: -20px;
    background: white;
}

.team-coverflow .team-text{
    text-align: center;
    font-size: 14px;
    padding: 0.5rem 0 2.5rem 0;
}

.team-coverflow .team-text h4{
    font-size: 1.7rem;
}

.swiper-slide-active .team-coverflow:hover .team-box-content{
    opacity: 1;
    visibility: visible;
    border-radius: 0;
    bottom: 0;
}


.team-box-content{
    background-color: #f1c30f;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding: 20px 0;
    bottom: -20%;
    z-index: 1;
    transition: all linear 0.4s;
}

.team-coverflow .team-img{
    overflow: hidden;
    width: 100%;
}

.swiper-slide-active .team-coverflow:hover img{
    transition: scale(1.1);
}

.team-progress{
    padding-bottom: 1rem;
}

.team-progress .progress-item:not(:last-child){
    margin-bottom: 1.7rem;
}

.team-progress .progress{
    height: 12px;
    margin-top: 12px;
    overflow: hidden;
    border-radius: 50px;
    background-color: #eaeaea;
}

.team-progress .progress-item .countdown{
    font-weight: 500;
}

.team-progress .progress-bar{
    height: 100%;
    border-radius: 50px;
    background-color: #f1c30f;
}

.w-90{
    width: 90% !important;
}

.w-85{
    width: 85% !important;
}

.w-80{
    width: 80% !important;
}

.team-member-slider{
    padding-bottom: 165px;
}

.swiper-button-next,
.swiper-button-prev{
    background-image: none;
}

.slider-arrows{
    border-radius: 50px;   
    background:#f1c30f;    
    font-weight: bold;
    width: 45px;
    height: 45px;
    line-height: 40px;
    transition: 1s;
    color: white;
    border: 4px solid #f1c30f;;
}


.team-member-slider .swiper-slide-next{
    transform: scale(1.1) translate3d(-25%,0px,-150.962px)
    rotateX(0deg) rotateY(-2.9808deg) !important;
    padding-left: 15px;
    cursor: pointer;
}

.team-member-slider .swiper-slide-prev{
    transform: scale(1.1) translate3d(25%,0px,-150.962px)
    rotateX(0deg) rotateY(2.9808deg) !important;
    padding-left: 15px;
    cursor: pointer;
}

.team-member-slider .swiper-slide-active{
    transform: translateY(22%) !important;
    transition: 300ms;
    opacity: 1 !important;
}

.team-member-slider .swiper-slide{
    opacity: 0.5;
}

/***** TEAM END ******/

/***** SERVICES START ******/

.services{
    background-image: url(..//images/interior-of-office-building-3252291.jpg);    
    padding-top: 200px;
    padding-bottom: 130px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
}

.services h2{
    font-family: 'Oswald',sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.services a{
    padding: 15px 30px;
    background: transparent;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald',sans-serif;
    color: white;
    font-size: 13px;
    transition: all 0.5s ease-in;
    border: 2px solid white;
}

.services a:hover{
    padding: 15px 30px;
    background: white;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald',sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    color: #333;
}

/***** SERVICES END ******/

/***** PORTFOLIO START ******/

#portfolio{
    text-align: center;
    font-family: 'Roboto Condensed',sans-serif;
    color: #535353;
    padding-top: 50px;
    overflow-x: hidden;
}

#portfolio h5{
    font-size: 1rem;
    margin-bottom: 1.4rem;
    color: #ff1737;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}

#portfolio h2{
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 599;
    color: #18191d;
    line-height: 1.2;
    max-width: 650px;
    margin: 0 auto 1.5rem;
    font-family: 'Oswald',sans-serif;
}

#portfolio p.desc{
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed',sans-serif;
}

ul.filters{
    display: block;
    width: 100%;
    margin: 0;
    padding: 30px 0;
}

ul.filters>li{
    list-style: none;
    display: inline-block;
}

ul.filters> li >a{
    display: block;
    color: #434e5e;
    text-decoration: none;
    padding: 0px 8px;
}

ul.filters li a:hover{
    background-color: #e6e9ed;
}

ul.filters > li.active > a{
    color: #fff;
    background-color: #f1c30f;
}

.card{
    position: relative;
    margin-bottom: 50px;
    color: #000;
    border-radius: 0;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0.3px 0.3px 0.3px rgba(0,0,0,0.75);
}

.card-head{
    position: relative;
    overflow: hidden;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(67,78,94,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    -webkit-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-hover{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40,190,168,0.9);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    -webkit-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

h4.title{
    color: #434e5e;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-btn{
    margin-bottom: -40px;
    font-size: 0.9rem;
    background-color: #fff;
    color: #222;
    border: 1px solid #eee;
    border-radius: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.card-btn:hover{
    background-color: #f1c30f;
    color: #fff;
}

/***** PORTFOLIO END ******/

/***** NUMBERS START ******/

.numbers{   
    background-image: url(..//images/bg-testimonials.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 140px;
    padding-bottom: 150px;
    font-family: 'Oswald',sans-serif;
}

.color-fff{
    color: white;
}

.fs-35{
    font-size: 70px;
}

.fw-700{
    font-weight: bold;
}

.color-aaa{
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 18px;
    color: white !important;
    letter-spacing: 2px;
}

.numbers .fa{
    font-size: 70px;
}

/***** NUMBERS END ******/

.price-item{
    border-radius: 10px 10px 10px 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(221,221,221,0.9);
    transition: background 0.3s,border 0.3s border-radius 0.3s,box-shadow 0.3s;
    text-align: center;
    margin: 20px;
    padding: 70px 50px;
    width: 100%;
    position: relative;
}

.section_subtitle{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ff1737;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}

.pricing-action{
    
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    border: 2px solid black;
    border-radius: 10px;
    border-color: blue;
    
}

.pricing-action:hover{
    box-shadow: 0px 0px 40px 0px rgba(221,221,221,1);
}

.pricing-price{
    margin-bottom: 20px;
}

.pricing-action .pricing-price h2,
.pricing-action ul.pricing-features li,
.pricing-action .pricing-price span{
    color:#dddddd;
}

.pricing-price h2{
    color: #4c4c4c;
    font-size: 65px;
}

.pricing-price span{
    color: #4c4c4c;
    font-size: 17px;
    display: block;
    text-transform: uppercase;
}

.pricing_divider{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.pricing_divider span{
    border-top: 3px solid #4c4c4c;
    width: 20%;
    display: block;
    margin: 0 auto;
}

ul.pricing-feature{
    text-align: center;
    
}

ul.pricing-feature li{
    padding-top: 8px 0;
    font-size: 16px;
    line-height: 30px;
    color: #999;
}

ul.pricing-feature li .sql-queries{
    width: 16px;
}

ul.pricing-feature li .feature-list{
    padding-left: 15px;
}


.pricing-active{
    background-color: #222;
}


/***** CLIENTS START ******/

#clients-list{
    padding: 45px 0 0 0;
    margin-left: 115px;
}

.client{
    padding: 0 10px;
    max-width: 170px;
    margin: 0 auto;
    line-height: 100px;
}

.client img{
    display: inline-block !important;
}

#clients h6{
    font-size: 20px;
    font-family: 'Oswald',sans-serif;
}

#clients h2{
    font-size: 34px;
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
}

/***** CLIENTS END ******/

/***** FOOTER START ******/

footer{
    background-color: #1c1c1d;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0,0.1);
}

#contact-left h2,
#contact-right h3{
    color: white !important;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
}

#contact-left p{
    color: white;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed',sans-serif;
}

#contact-info{
    background-image: url(..//images/world-map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

address{
    color: white;
    font-family: 'Roboto Condensed',sans-serif;
}

address strong{
    font-size: 17px;
}

form .form-control{
    background: transparent;
    border-radius: 0;
    border-color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 17px;
    margin-bottom: 20px;
    color: white;
}

#footer-bottom{
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0;
    margin-top: 59px;
}

#footer-copyrights p{
    margin: 0;
    color: white !important;
}

#footer-menu{
    float: left;
    color: white !important;
    font-size: 17px;
    font-weight: 300;
}

#footer-menu ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li{
    display: inline-block;
}

#footer-menu a{
    color: white;
    font-size: 17px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
}

#footer-menu a:hover{
    color: orange;
}

ul.social-list{
    display:flex;
    color: white;
}

ul.social-list a{
    margin-right: 10px;
    color: white;
}

.btn-white{
    border-color: white;
    color: white;
}

.btn-white:hover{
    border-color: white;
    color: #fff;
}

.btn-general{
    border-width: 2px;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto Condensed',sans-serif;    
}

#footer-copyrights p{
    font-family: 'Roboto Condensed',sans-serif;
    text-transform: uppercase;
}


/***Media Queries***/
@media screen and (max-width:4000px){    
    .nav3{
        display: none;
    }
    .nav ul{
        
        width: 85%;
    }
}

@media screen and (max-width:1200px){  
    

    .vidContent{
        position: absolute;
        top: 180px;    
        left: 50px;   
        width: 40%;
        padding: 10px;
        text-align: left;
    }
    .vidContent h1{
        font-family: 'Oswald',sans-serif;
        font-size: 2.5em;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
}

@media screen and (max-width:1000px){    
    .nav3{
        display: none;
    }
    .nav ul{
        
        width: 90%;
    }

    .vidContent{
        position: absolute;
        top: 120px;    
        left: 30px;   
        width: 40%;
        padding: 10px;
        text-align: left;
    }
    .vidContent h1{
        font-family: 'Oswald',sans-serif;
        font-size: 2.5em;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    
}

@media screen and (max-width:900px){       

    .vidContent{
        position: absolute;
        top: 120px;       
        width: 50%;
        padding: 10px;
        text-align: left;
    }
    
    .vidContent h1{
        font-family: 'Oswald',sans-serif;
        font-size: 2em;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
        
    #vidBtn{        
        font-size: 16px;
        padding: 13px 30px;
        margin-top: 18px;
        border-radius: 50px;
    }
}

@media screen and (max-width:800px){    
    .nav{
        display: none;
    }   

    .nav3{
        display: flex;
    }

    .nav3 ul li{
        list-style: none;
    }
    
    .nav3 ul li a{
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 14px;
        color: white;
        font-family: 'Roboto Condensed',sans-serif;
        text-transform: uppercase;
    }
    

    .nav3 .logo2{
       
        background-color: black;
        position: absolute;
        left: 0px;
        top: 10px;
        width: 100%;
        height: 30px;
        padding-left: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
    }
        
    .nav3 .logo2 a{
        text-transform: uppercase;
        font-size: 18px;
        height: 10px;
        color: white;     
    }
    .nav3 ul{        
        position: absolute;
        left: 0px;
        top: 40px;
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
    }


    .nav3 .burger div{        
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;;
    }

    .vidContent{
        position: absolute;
        top: 130px;       
        width: 40%;
        padding: 10px;
        text-align: left;
    }

    
    #vidBtn{
        font-size: 13px;
        padding: 10px 20px;      
        margin-top: 5px;
        border-radius: 50px;    
    }

}